GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_app_password_here
ANTHROPIC_API_KEY=your_anthropic_key_here
RECIPIENT_EMAILS=justina.rak@gmail.com,trevor.n.lapay@gmail.com
RUN_TIMEZONE=America/New_York
SEEN_ITEM_RETENTION_DAYS=90
SELF_HEAL_RETRY_INTERVAL_MINUTES=5
SELF_HEAL_MAX_RETRIES=2
LOG_LEVEL=INFO
